<section class="sidenav close">
    <div class="sidenav-content">
        <div class="logo">
            <a  href="/" class="logo-text">CreditWallet</a>
        </div>
    
        <ul class="nav-menu">
            <li class="active"><a routerLink="/"><i class="fas fa-columns"></i>Dashboard</a></li>
            <li><a routerLink="loans/incomplete-action"><i class="fas fa-hand-holding-usd"></i>loans</a>
                <ul class="sub-menu">
                    <li class="sub-menu-title">Loans <i class="fa-solid fa-angle-left"></i></li>
                    <li class="sub-menu-overview">overview</li>
                    <li><a routerLink="loans/incomplete-action">incomplete action</a></li>
                    <li><a routerLink="loans/awaiting-disbursement">awaiting disbursement</a></li>
                </ul>
            </li>
            <li><a routerLink=""><i class="fas fa-sync"></i>Recovery</a>
                <ul class="sub-menu">
                    <li class="sub-menu-title">Recovery <i class="fa-solid fa-angle-left"></i></li>
                    <li class="sub-menu-overview">overview</li>
                    <li><a routerLink="#">Not yet contacted</a></li>
                    <li><a routerLink="#">Not reachable</a></li>
                    <li><a routerLink="#">Dispute</a></li>
                    <li><a routerLink="#">Performing</a></li>
                    <li><a routerLink="#">Tentative</a></li>
                    <li><a routerLink="#">Loss</a></li>
                    <li><a routerLink="#">Partially paid</a></li>
                    <li><a routerLink="#">Fully paid</a></li>
                    <li><a routerLink="#">Recovery report</a></li>
                </ul>
            </li>
            <li><a routerLink=""><i class="fas fa-check-circle"></i>Verification</a></li>
            <li><a routerLink=""><i class="fas fa-clipboard"></i>Reports</a></li>
            <li><a routerLink=""><i class="fas fa-chart-area"></i>Deduction</a></li>
            <li><a routerLink=""><i class="fa-solid fa-chart-column"></i>Return Business</a></li>
            <li><a routerLink=""><i class="fas fa-chart-pie"></i>Loandisk Operation</a></li>
            <li><a routerLink=""><i class="fas fa-tools"></i>Utilities</a></li>
            <li><a routerLink=""><i class="fas fa-user-friends"></i>User Management</a></li>
            
        </ul>
    </div>
</section>