<section class="menu-content Overview">
    <div class="container">
        <div class="row report-overiew">
            <div class="col-md-3">
                <div class="report-overiew-item">
                    <div class="title">
                        <h3>New Application</h3>
                    </div>
                    <div class="total-amount">
                        <p>Total Amount</p>
                        <h4>&#8358;  78,917,767.00</h4>
                    </div>
                    <div class="total-application">
                        <p>Total number of application</p>
                        <h4>854</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report-overiew-item">
                    <div class="title">
                        <h3>Processing</h3>
                    </div>
                    <div class="total-amount">
                        <p>Total Amount</p>
                        <h4>&#8358;  78,917,767.00</h4>
                    </div>
                    <div class="total-application">
                        <p>Total number of application</p>
                        <h4>854</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report-overiew-item">
                    <div class="title">
                        <h3>Awaiting Disbursement</h3>
                    </div>
                    <div class="total-amount">
                        <p>Total Amount</p>
                        <h4>&#8358;  78,917,767.00</h4>
                    </div>
                    <div class="total-application">
                        <p>Total number of application</p>
                        <h4>854</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="report-overiew-item">
                    <div class="title">
                        <h3>Ready for Disbursement</h3>
                    </div>
                    <div class="total-amount">
                        <p>Total Amount</p>
                        <h4>&#8358;  78,917,767.00</h4>
                    </div>
                    <div class="total-application">
                        <p>Total number of application</p>
                        <h4>854</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <mat-card-content>
                      <mat-progress-spinner
                          class="example-margin"
                          [color]="color"
                          [mode]="mode"
                          [value]="value">
                      </mat-progress-spinner>
                    </mat-card-content>
                  </mat-card>
            </div>
            <div class="col-md-6">
                data
            </div>
        </div>
    </div>
</section>

