.report-overiew{
    margin: 0 20px;
    padding-bottom: 80px;
}
.report-overiew-item {
    background-color: #E5E5E5;
    height: 200px;
    width: 220px;
    margin: auto;
    padding: 12px 5px 12px 15px;
    border-radius: 10%;
}
.report-overiew-item p{
    line-height: 0;
    font-size: 12px;
    font-weight: 300;
}
.report-overiew-item h4{
    font-size: 16px;
    font-weight: 600;
}
.report-overiew-item .title, .total-amount {
    padding-bottom: 20px;
}
.report-overiew-item .title h3{
    font-size: 16px;
}
.report-overiew-item .total-amount h4{
    color: #F56B2A;
}
.example-margin {
    margin: 0 10px;
    color: #F56B2A;
}